tools/xml/ilab.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="metadata">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Title" type="stringNormal" minOccurs="0" maxOccurs="1"/>
				<xs:element name="Description" type="stringLong" minOccurs="0" maxOccurs="1"/>
				<xs:element name="Discipline" type="optionsDiscipline" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Research_Type" type="optionsResearchType" minOccurs="0" maxOccurs="1"/>
				<xs:element name="Version" type="stringNormal" minOccurs="0" maxOccurs="1"/>
				<xs:element name="Related_Datapackage" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Title" type="stringNormal" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="Properties">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Persistent_Identifier" type="stringNormal" minOccurs="0" maxOccurs="unbounded"/>
										<xs:element name="Persistent_Identifier_Type" type="optionsDatasetPersistentIdentifierType" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Language" type="stringNormal" minOccurs="0" maxOccurs="1"/>
				<xs:element name="Start_Collection_Date" type="xs:date" minOccurs="0" maxOccurs="1"/>
				<xs:element name="End_Collection_Date" type="xs:date" minOccurs="0" maxOccurs="1"/>
				<xs:element name="Location_Covered" type="stringNormal" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Start_Period" type="xs:date" minOccurs="0" maxOccurs="1"/>
				<xs:element name="End_Period" type="xs:date" minOccurs="0" maxOccurs="1"/>
				<xs:element name="Tag" type="stringNormal" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Retention_Period" type="xs:integer" minOccurs="0" maxOccurs="1"/>
				<xs:element name="Retention_Justification" type="stringNormal" minOccurs="0" maxOccurs="1"/>
				<xs:element name="Embargo_End_Date" type="xs:date" minOccurs="0" maxOccurs="1"/>
				<xs:element name="Publish" type="optionsYesNo" minOccurs="0" maxOccurs="1"/>
				<xs:element name="Sensitive" type="optionsYesNo" minOccurs="0" maxOccurs="1"/>
                                <xs:element name="Funder" minOccurs="0" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Name" type="stringNormal" minOccurs="0" maxOccurs="1"/>
                                      <xs:element name="Properties">
                                            <xs:complexType>
                                              <xs:sequence>
                                                <xs:element name="Grant_Number" type="stringNormal" minOccurs="0" maxOccurs="1"/>
                                              </xs:sequence>
                                            </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType> 
                                </xs:element>
				<xs:element name="Owner" type="stringNormal" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Creator" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>	
							<xs:element name="Name"	type="stringNormal" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="Properties">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Persistent_Identifier" type="stringNormal" minOccurs="0" maxOccurs="unbounded"/>
										<xs:element name="Persistent_Identifier_Type" type="optionsPersonalPersistentIdentifierType" minOccurs="0" maxOccurs="unbounded"/>
										<xs:element name="Affiliation" type="stringNormal" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Contributor" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Name" type="stringNormal" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="Properties">
								<xs:complexType>
									<xs:sequence>

										<xs:element name="Persistent_Identifier" type="stringNormal" minOccurs="0" maxOccurs="unbounded"/>
										<xs:element name="Persistent_Identifier_Type" type="optionsPersonalPersistentIdentifierType" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="License" minOccurs="0" maxOccurs="1">
                                  <xs:complexType>
                                     <xs:sequence>
                                     <xs:element name="Name" type="stringNormal" minOccurs="0" maxOccurs="1" />
                                     <xs:element name="Properties">
                                        <xs:complexType>
					  <xs:sequence>
					    <xs:element name="URL" type="xs:anyURI" minOccurs="0" maxOccurs="1"/>
					  </xs:sequence>
                                        </xs:complexType>
                                     </xs:element>
                                     </xs:sequence>
                                 </xs:complexType>
                                </xs:element>
				<xs:element name="Access_Restriction" type="optionsDatasetAccess" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="system">
		<xs:complexType>
	          <xs:sequence>
			<xs:element name="Last_Modified_Date" type="xs:date" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Project_ID_Pure" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Persistent_Identifier_Datapackage" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Publication_Date" type="xs:date" minOccurs="0" maxOccurs="1"/>
		   </xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="stringNormal">
		<xs:restriction base="xs:string">
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stringLong">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2700"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="optionsYesNo">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Yes"/>
			<xs:enumeration value="No"/>
			<xs:enumeration value="N.A."/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="optionsDatasetAccess">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Open"/>
			<xs:enumeration value="Restricted to UU"/>
			<xs:enumeration value="Restricted to UU dpt"/>
			<xs:enumeration value="Restricted - contact I-lab"/>
			<xs:enumeration value="Closed"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="optionsResearchType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Survey"/>
			<xs:enumeration value="Longitudinal Panel"/>
			<xs:enumeration value="Archival"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="optionsPersonalPersistentIdentifierType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ORCID"/>
			<xs:enumeration value="DAI"/>
			<xs:enumeration value="Author identifier  (Scopus)"/>
			<xs:enumeration value="ResearcherID (Web of Science)"/>
			<xs:enumeration value="ISNI"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Source: https://schema.datacite.org/meta/kernel-3.1/doc/DataCite-MetadataKernel_v3.1.pdf -->
	<xs:simpleType name="optionsDatasetPersistentIdentifierType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ARK"/>
			<xs:enumeration value="arXiv"/>
			<xs:enumeration value="bibcode"/>
			<xs:enumeration value="DOI"/>
			<xs:enumeration value="EAN13"/>
			<xs:enumeration value="EISSN"/>
			<xs:enumeration value="Handle"/>
			<xs:enumeration value="ISBN"/>
			<xs:enumeration value="ISSN"/>
			<xs:enumeration value="ISTC"/>
			<xs:enumeration value="LISSN"/>
			<xs:enumeration value="LSID"/>
			<xs:enumeration value="PMID"/>
			<xs:enumeration value="PURL"/>
			<xs:enumeration value="UPC"/>
			<xs:enumeration value="URL"/>
			<xs:enumeration value="URN"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Source: https://www.oecd.org/science/inno/38235147.pdf -->
	<xs:simpleType name="optionsDiscipline">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Natural Sciences - Mathematics (1.1)"/>
			<xs:enumeration value="Natural Sciences - Computer and information sciences (1.2)"/>
			<xs:enumeration value="Natural Sciences - Physical sciences (1.3)"/>
			<xs:enumeration value="Natural Sciences - Chemical sciences (1.4)"/>
			<xs:enumeration value="Natural Sciences - Earth and related environmental sciences (1.5)"/>
			<xs:enumeration value="Natural Sciences - Biological sciences (1.6)"/>
			<xs:enumeration value="Natural Sciences - Other natural sciences (1.7)"/>
			<xs:enumeration value="Engineering and Technology - Civil engineering (2.1)"/>
			<xs:enumeration value="Engineering and Technology - Electrical engineering, electronic engineering, information engineering (2.2)"/>
			<xs:enumeration value="Engineering and Technology - Mechanical engineering (2.3)"/>
			<xs:enumeration value="Engineering and Technology - Chemical engineering (2.4)"/>
			<xs:enumeration value="Engineering and Technology - Materials engineering (2.5)"/>
			<xs:enumeration value="Engineering and Technology - Medical engineering (2.6)"/>
			<xs:enumeration value="Engineering and Technology - Environmental engineering (2.7)"/>
			<xs:enumeration value="Engineering and Technology - Environmental biotechnology (2.8)"/>
			<xs:enumeration value="Engineering and Technology - Industrial Biotechnology (2.9)"/>
			<xs:enumeration value="Engineering and Technology - Nano-technology (2.10)"/>
			<xs:enumeration value="Engineering and Technology - Other engineering and technologies (2.11)"/>
			<xs:enumeration value="Medical and Health Sciences - Basic medicine (3.1)"/>
			<xs:enumeration value="Medical and Health Sciences - Clinical medicine (3.2)"/>
			<xs:enumeration value="Medical and Health Sciences - Health sciences (3.3)"/>
			<xs:enumeration value="Medical and Health Sciences - Health biotechnology (3.4)"/>
			<xs:enumeration value="Medical and Health Sciences - Other medical sciences (3.5)"/>
			<xs:enumeration value="Agricultural Sciences - Agriculture, forestry, and fisheries (4.1)"/>
			<xs:enumeration value="Agricultural Sciences - Animal and dairy science (4.2)"/>
			<xs:enumeration value="Agricultural Sciences - Veterinary science (4.3)"/>
			<xs:enumeration value="Agricultural Sciences - Agricultural biotechnology (4.4)"/>
			<xs:enumeration value="Agricultural Sciences - Other agricultural sciences (4.5)"/>
			<xs:enumeration value="Social Sciences - Psychology (5.1)"/>
			<xs:enumeration value="Social Sciences - Economics and business (5.2)"/>
			<xs:enumeration value="Social Sciences - Educational sciences (5.3)"/>
			<xs:enumeration value="Social Sciences - Sociology (5.4)"/>
			<xs:enumeration value="Social Sciences - Law (5.5)"/>
			<xs:enumeration value="Social Sciences - Political Science (5.6)"/>
			<xs:enumeration value="Social Sciences - Social and economic geography (5.7)"/>
			<xs:enumeration value="Social Sciences - Media and communications (5.8)"/>
			<xs:enumeration value="Social Sciences - Other social sciences (5.9)"/>
			<xs:enumeration value="Humanities - History and archaeology (6.1)"/>
			<xs:enumeration value="Humanities - Languages and literature (6.2)"/>
			<xs:enumeration value="Humanities - Philosophy, ethics and religion (6.3)"/>
			<xs:enumeration value="Humanities - Art (arts, history of arts, performing arts, music) (6.4)"/>
			<xs:enumeration value="Humanities - Other humanities (6.5)"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
