tools/schemas/default-1/vault.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="https://yoda.uu.nl/schemas/default-1" xmlns="https://yoda.uu.nl/schemas/default-1">
  <xs:element name="metadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="Title" type="stringNormal"/>
        <xs:element maxOccurs="1" minOccurs="1" name="Description" type="stringLong"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="Discipline" type="optionsDiscipline"/>
        <xs:element maxOccurs="1" minOccurs="1" name="Version" type="stringNormal"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Language" type="optionsISO639-1"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Collected">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="1" minOccurs="0" name="Start_Date" type="xs:date"/>
              <xs:element maxOccurs="1" minOccurs="0" name="End_Date" type="xs:date"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="Covered_Geolocation_Place" type="stringNormal"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Covered_Period">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="1" minOccurs="0" name="Start_Date" type="xs:date"/>
              <xs:element maxOccurs="1" minOccurs="0" name="End_Date" type="xs:date"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="Tag" type="stringNormal"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="Related_Datapackage">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="1" minOccurs="0" name="Relation_Type" type="optionsRelationType"/>
              <xs:element maxOccurs="1" minOccurs="0" name="Properties">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="0" name="Title" type="stringNormal"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="Persistent_Identifier">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="1" minOccurs="0" name="Identifier_Scheme" type="optionsPersistentIdentifierScheme"/>
                          <xs:element maxOccurs="1" minOccurs="0" name="Identifier" type="stringNormal"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="1" minOccurs="1" name="Retention_Period" type="xs:integer"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Retention_Information" type="stringNormal"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Embargo_End_Date" type="xs:date"/>
        <xs:element maxOccurs="1" minOccurs="1" name="Data_Classification" type="optionsDataClassification"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Data_Type" type="optionsDataType"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Collection_Name" type="stringNormal"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="Funding_Reference">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="1" minOccurs="0" name="Funder_Name" type="stringNormal"/>
              <xs:element maxOccurs="1" minOccurs="0" name="Properties">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="0" name="Award_Number" type="stringNormal"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="1" minOccurs="0" name="Remarks" type="stringLong"/>
        <xs:element maxOccurs="unbounded" minOccurs="1" name="Creator">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="1" minOccurs="1" name="Name" type="stringNormal"/>
              <xs:element maxOccurs="1" minOccurs="0" name="Properties">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="1" name="Affiliation" type="stringNormal"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Person_Identifier">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="1" minOccurs="0" name="Name_Identifier_Scheme" type="optionsNameIdentifierScheme"/>
                          <xs:element maxOccurs="1" minOccurs="0" name="Name_Identifier" type="stringNormal"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="Contributor">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="1" minOccurs="0" name="Name" type="stringNormal"/>
              <xs:element maxOccurs="1" minOccurs="0" name="Properties">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="0" name="Contributor_Type" type="optionsContributorType"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Affiliation" type="stringNormal"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Person_Identifier">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="1" minOccurs="0" name="Name_Identifier_Scheme" type="optionsNameIdentifierScheme"/>
                          <xs:element maxOccurs="1" minOccurs="0" name="Name_Identifier" type="stringNormal"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="1" minOccurs="1" name="License" type="optionsLicense"/>
        <xs:element maxOccurs="1" minOccurs="1" name="Data_Access_Restriction" type="optionsDataAccessRestriction"/>
        <xs:element maxOccurs="1" minOccurs="0" name="System">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="1" minOccurs="0" name="Last_Modified_Date" type="xs:date"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="Persistent_Identifier_Datapackage">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="0" name="Identifier_Scheme" type="optionsPersistentIdentifierScheme"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="Identifier" type="stringNormal"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="1" minOccurs="0" name="Publication_Date" type="xs:date"/>
              <xs:element maxOccurs="1" minOccurs="0" name="Open_Access_Link" type="xs:anyURI"/>
              <xs:element maxOccurs="1" minOccurs="0" name="License_URI" type="xs:anyURI"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="stringNormal">
    <xs:restriction base="xs:string">
      <xs:maxLength value="255"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="stringLong">
    <xs:restriction base="xs:string">
      <xs:maxLength value="2700"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="optionsDataAccessRestriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Open - freely retrievable"/>
      <xs:enumeration value="Restricted - available upon request"/>
      <xs:enumeration value="Closed"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="optionsDataClassification">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Public"/>
      <xs:enumeration value="Basic"/>
      <xs:enumeration value="Sensitive"/>
      <xs:enumeration value="Critical"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="optionsDataType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Audiovisual"/>
      <xs:enumeration value="Collection"/>
      <xs:enumeration value="Dataset"/>
      <xs:enumeration value="Event"/>
      <xs:enumeration value="Image"/>
      <xs:enumeration value="InteractiveResource"/>
      <xs:enumeration value="Model"/>
      <xs:enumeration value="PhysicalObject"/>
      <xs:enumeration value="Service"/>
      <xs:enumeration value="Software"/>
      <xs:enumeration value="Sound"/>
      <xs:enumeration value="Text"/>
      <xs:enumeration value="Workflow"/>
      <xs:enumeration value="Other"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="optionsNameIdentifierScheme">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ORCID"/>
      <xs:enumeration value="DAI"/>
      <xs:enumeration value="Author identifier (Scopus)"/>
      <xs:enumeration value="ResearcherID (Web of Science)"/>
      <xs:enumeration value="ISNI"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="optionsPersistentIdentifierScheme">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ARK"/>
      <xs:enumeration value="arXiv"/>
      <xs:enumeration value="bibcode"/>
      <xs:enumeration value="DOI"/>
      <xs:enumeration value="EAN13"/>
      <xs:enumeration value="EISSN"/>
      <xs:enumeration value="Handle"/>
      <xs:enumeration value="ISBN"/>
      <xs:enumeration value="ISSN"/>
      <xs:enumeration value="ISTC"/>
      <xs:enumeration value="LISSN"/>
      <xs:enumeration value="LSID"/>
      <xs:enumeration value="PMID"/>
      <xs:enumeration value="PURL"/>
      <xs:enumeration value="UPC"/>
      <xs:enumeration value="URL"/>
      <xs:enumeration value="URN"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="optionsDiscipline">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Natural Sciences - Mathematics (1.1)"/>
      <xs:enumeration value="Natural Sciences - Computer and information sciences (1.2)"/>
      <xs:enumeration value="Natural Sciences - Physical sciences (1.3)"/>
      <xs:enumeration value="Natural Sciences - Chemical sciences (1.4)"/>
      <xs:enumeration value="Natural Sciences - Earth and related environmental sciences (1.5)"/>
      <xs:enumeration value="Natural Sciences - Biological sciences (1.6)"/>
      <xs:enumeration value="Natural Sciences - Other natural sciences (1.7)"/>
      <xs:enumeration value="Engineering and Technology - Civil engineering (2.1)"/>
      <xs:enumeration value="Engineering and Technology - Electrical engineering, electronic engineering, information engineering (2.2)"/>
      <xs:enumeration value="Engineering and Technology - Mechanical engineering (2.3)"/>
      <xs:enumeration value="Engineering and Technology - Chemical engineering (2.4)"/>
      <xs:enumeration value="Engineering and Technology - Materials engineering (2.5)"/>
      <xs:enumeration value="Engineering and Technology - Medical engineering (2.6)"/>
      <xs:enumeration value="Engineering and Technology - Environmental engineering (2.7)"/>
      <xs:enumeration value="Engineering and Technology - Environmental biotechnology (2.8)"/>
      <xs:enumeration value="Engineering and Technology - Industrial Biotechnology (2.9)"/>
      <xs:enumeration value="Engineering and Technology - Nano-technology (2.10)"/>
      <xs:enumeration value="Engineering and Technology - Other engineering and technologies (2.11)"/>
      <xs:enumeration value="Medical and Health Sciences - Basic medicine (3.1)"/>
      <xs:enumeration value="Medical and Health Sciences - Clinical medicine (3.2)"/>
      <xs:enumeration value="Medical and Health Sciences - Health sciences (3.3)"/>
      <xs:enumeration value="Medical and Health Sciences - Health biotechnology (3.4)"/>
      <xs:enumeration value="Medical and Health Sciences - Other medical sciences (3.5)"/>
      <xs:enumeration value="Agricultural Sciences - Agriculture, forestry, and fisheries (4.1)"/>
      <xs:enumeration value="Agricultural Sciences - Animal and dairy science (4.2)"/>
      <xs:enumeration value="Agricultural Sciences - Veterinary science (4.3)"/>
      <xs:enumeration value="Agricultural Sciences - Agricultural biotechnology (4.4)"/>
      <xs:enumeration value="Agricultural Sciences - Other agricultural sciences (4.5)"/>
      <xs:enumeration value="Social Sciences - Psychology (5.1)"/>
      <xs:enumeration value="Social Sciences - Economics and business (5.2)"/>
      <xs:enumeration value="Social Sciences - Educational sciences (5.3)"/>
      <xs:enumeration value="Social Sciences - Sociology (5.4)"/>
      <xs:enumeration value="Social Sciences - Law (5.5)"/>
      <xs:enumeration value="Social Sciences - Political Science (5.6)"/>
      <xs:enumeration value="Social Sciences - Social and economic geography (5.7)"/>
      <xs:enumeration value="Social Sciences - Media and communications (5.8)"/>
      <xs:enumeration value="Social Sciences - Other social sciences (5.9)"/>
      <xs:enumeration value="Humanities - History and archaeology (6.1)"/>
      <xs:enumeration value="Humanities - Languages and literature (6.2)"/>
      <xs:enumeration value="Humanities - Philosophy, ethics and religion (6.3)"/>
      <xs:enumeration value="Humanities - Art (arts, history of arts, performing arts, music) (6.4)"/>
      <xs:enumeration value="Humanities - Other humanities (6.5)"/>
      <xs:enumeration value=""/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="optionsContributorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ContactPerson"/>
      <xs:enumeration value="DataCollector"/>
      <xs:enumeration value="DataCurator"/>
      <xs:enumeration value="DataManager"/>
      <xs:enumeration value="Distributor"/>
      <xs:enumeration value="Editor"/>
      <xs:enumeration value="HostingInstitution"/>
      <xs:enumeration value="Producer"/>
      <xs:enumeration value="ProjectLeader"/>
      <xs:enumeration value="ProjectManager"/>
      <xs:enumeration value="ProjectMember"/>
      <xs:enumeration value="RegistrationAgency"/>
      <xs:enumeration value="RegistrationAuthority"/>
      <xs:enumeration value="RelatedPerson"/>
      <xs:enumeration value="Researcher"/>
      <xs:enumeration value="ResearchGroup"/>
      <xs:enumeration value="RightsHolder"/>
      <xs:enumeration value="Sponsor"/>
      <xs:enumeration value="Supervisor"/>
      <xs:enumeration value="WorkPackageLeader"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="optionsLicense">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Creative Commons Attribution 4.0 International Public License"/>
      <xs:enumeration value="Creative Commons Attribution-ShareAlike 4.0 International Public License"/>
      <xs:enumeration value="Open Data Commons Attribution License (ODC-By) v1.0"/>
      <xs:enumeration value="Custom"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="optionsRelationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="IsSupplementTo: Current datapackage is supplement to"/>
      <xs:enumeration value="IsSupplementedBy: Current datapackage is supplemented by"/>
      <xs:enumeration value="IsContinuedBy: Current datadatapackage is continued by"/>
      <xs:enumeration value="Continues: Continues this current dataset"/>
      <xs:enumeration value="IsNewVersionOf: Current datapackage is new version of"/>
      <xs:enumeration value="IsPreviousVersionOf: Current datapackage is previous version of"/>
      <xs:enumeration value="IsPartOf: Current datapackage is part of"/>
      <xs:enumeration value="HasPart: Is part of current datapackage"/>
      <xs:enumeration value="IsReferencedBy: Current datapackage is referenced by"/>
      <xs:enumeration value="References: Current datapackages references"/>
      <xs:enumeration value="IsVariantFormOf: Current datapackage is variant of"/>
      <xs:enumeration value="IsOriginalFormOf: Current datapackage is original of"/>
      <xs:enumeration value="IsSourceOf: Raw data for this current datapackage"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="optionsISO639-1">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ab - Abkhazian"/>
      <xs:enumeration value="aa - Afar"/>
      <xs:enumeration value="af - Afrikaans"/>
      <xs:enumeration value="ak - Akan"/>
      <xs:enumeration value="sq - Albanian"/>
      <xs:enumeration value="am - Amharic"/>
      <xs:enumeration value="ar - Arabic"/>
      <xs:enumeration value="an - Aragonese"/>
      <xs:enumeration value="hy - Armenian"/>
      <xs:enumeration value="as - Assamese"/>
      <xs:enumeration value="av - Avaric"/>
      <xs:enumeration value="ae - Avestan"/>
      <xs:enumeration value="ay - Aymara"/>
      <xs:enumeration value="az - Azerbaijani"/>
      <xs:enumeration value="bm - Bambara"/>
      <xs:enumeration value="ba - Bashkir"/>
      <xs:enumeration value="eu - Basque"/>
      <xs:enumeration value="be - Belarusian"/>
      <xs:enumeration value="bn - Bengali"/>
      <xs:enumeration value="bh - Bihari languages"/>
      <xs:enumeration value="bi - Bislama"/>
      <xs:enumeration value="nb - Bokmål, Norwegian"/>
      <xs:enumeration value="bs - Bosnian"/>
      <xs:enumeration value="br - Breton"/>
      <xs:enumeration value="bg - Bulgarian"/>
      <xs:enumeration value="my - Burmese"/>
      <xs:enumeration value="es - Castilian"/>
      <xs:enumeration value="ca - Catalan"/>
      <xs:enumeration value="km - Central Khmer"/>
      <xs:enumeration value="ch - Chamorro"/>
      <xs:enumeration value="ce - Chechen"/>
      <xs:enumeration value="ny - Chewa"/>
      <xs:enumeration value="ny - Chichewa"/>
      <xs:enumeration value="zh - Chinese"/>
      <xs:enumeration value="za - Chuang"/>
      <xs:enumeration value="cu - Church Slavic"/>
      <xs:enumeration value="cv - Chuvash"/>
      <xs:enumeration value="kw - Cornish"/>
      <xs:enumeration value="co - Corsican"/>
      <xs:enumeration value="cr - Cree"/>
      <xs:enumeration value="hr - Croatian"/>
      <xs:enumeration value="cs - Czech"/>
      <xs:enumeration value="da - Danish"/>
      <xs:enumeration value="dv - Dhivehi"/>
      <xs:enumeration value="dv - Divehi"/>
      <xs:enumeration value="nl - Dutch"/>
      <xs:enumeration value="dz - Dzongkha"/>
      <xs:enumeration value="en - English"/>
      <xs:enumeration value="eo - Esperanto"/>
      <xs:enumeration value="et - Estonian"/>
      <xs:enumeration value="ee - Ewe"/>
      <xs:enumeration value="fo - Faroese"/>
      <xs:enumeration value="fj - Fijian"/>
      <xs:enumeration value="fi - Finnish"/>
      <xs:enumeration value="nl - Flemish"/>
      <xs:enumeration value="fr - French"/>
      <xs:enumeration value="ff - Fulah"/>
      <xs:enumeration value="gd - Gaelic"/>
      <xs:enumeration value="gl - Galician"/>
      <xs:enumeration value="lg - Ganda"/>
      <xs:enumeration value="ka - Georgian"/>
      <xs:enumeration value="de - German"/>
      <xs:enumeration value="ki - Gikuyu"/>
      <xs:enumeration value="el - Greek, Modern (1453-)"/>
      <xs:enumeration value="kl - Greenlandic"/>
      <xs:enumeration value="gn - Guarani"/>
      <xs:enumeration value="gu - Gujarati"/>
      <xs:enumeration value="ht - Haitian"/>
      <xs:enumeration value="ht - Haitian Creole"/>
      <xs:enumeration value="ha - Hausa"/>
      <xs:enumeration value="he - Hebrew"/>
      <xs:enumeration value="hz - Herero"/>
      <xs:enumeration value="hi - Hindi"/>
      <xs:enumeration value="ho - Hiri Motu"/>
      <xs:enumeration value="hu - Hungarian"/>
      <xs:enumeration value="is - Icelandic"/>
      <xs:enumeration value="io - Ido"/>
      <xs:enumeration value="ig - Igbo"/>
      <xs:enumeration value="id - Indonesian"/>
      <xs:enumeration value="ia - Interlingua (International Auxiliary Language Association)"/>
      <xs:enumeration value="ie - Interlingue"/>
      <xs:enumeration value="iu - Inuktitut"/>
      <xs:enumeration value="ik - Inupiaq"/>
      <xs:enumeration value="ga - Irish"/>
      <xs:enumeration value="it - Italian"/>
      <xs:enumeration value="ja - Japanese"/>
      <xs:enumeration value="jv - Javanese"/>
      <xs:enumeration value="kl - Kalaallisut"/>
      <xs:enumeration value="kn - Kannada"/>
      <xs:enumeration value="kr - Kanuri"/>
      <xs:enumeration value="ks - Kashmiri"/>
      <xs:enumeration value="kk - Kazakh"/>
      <xs:enumeration value="ki - Kikuyu"/>
      <xs:enumeration value="rw - Kinyarwanda"/>
      <xs:enumeration value="ky - Kirghiz"/>
      <xs:enumeration value="kv - Komi"/>
      <xs:enumeration value="kg - Kongo"/>
      <xs:enumeration value="ko - Korean"/>
      <xs:enumeration value="kj - Kuanyama"/>
      <xs:enumeration value="ku - Kurdish"/>
      <xs:enumeration value="kj - Kwanyama"/>
      <xs:enumeration value="ky - Kyrgyz"/>
      <xs:enumeration value="lo - Lao"/>
      <xs:enumeration value="la - Latin"/>
      <xs:enumeration value="lv - Latvian"/>
      <xs:enumeration value="lb - Letzeburgesch"/>
      <xs:enumeration value="li - Limburgan"/>
      <xs:enumeration value="li - Limburger"/>
      <xs:enumeration value="li - Limburgish"/>
      <xs:enumeration value="ln - Lingala"/>
      <xs:enumeration value="lt - Lithuanian"/>
      <xs:enumeration value="lu - Luba-Katanga"/>
      <xs:enumeration value="lb - Luxembourgish"/>
      <xs:enumeration value="mk - Macedonian"/>
      <xs:enumeration value="mg - Malagasy"/>
      <xs:enumeration value="ms - Malay"/>
      <xs:enumeration value="ml - Malayalam"/>
      <xs:enumeration value="dv - Maldivian"/>
      <xs:enumeration value="mt - Maltese"/>
      <xs:enumeration value="gv - Manx"/>
      <xs:enumeration value="mi - Maori"/>
      <xs:enumeration value="mr - Marathi"/>
      <xs:enumeration value="mh - Marshallese"/>
      <xs:enumeration value="ro - Moldavian"/>
      <xs:enumeration value="ro - Moldovan"/>
      <xs:enumeration value="mn - Mongolian"/>
      <xs:enumeration value="na - Nauru"/>
      <xs:enumeration value="nv - Navaho"/>
      <xs:enumeration value="nv - Navajo"/>
      <xs:enumeration value="nd - Ndebele, North"/>
      <xs:enumeration value="nr - Ndebele, South"/>
      <xs:enumeration value="ng - Ndonga"/>
      <xs:enumeration value="ne - Nepali"/>
      <xs:enumeration value="nd - North Ndebele"/>
      <xs:enumeration value="se - Northern Sami"/>
      <xs:enumeration value="no - Norwegian"/>
      <xs:enumeration value="nb - Norwegian Bokmål"/>
      <xs:enumeration value="nn - Norwegian Nynorsk"/>
      <xs:enumeration value="ii - Nuosu"/>
      <xs:enumeration value="ny - Nyanja"/>
      <xs:enumeration value="nn - Nynorsk, Norwegian"/>
      <xs:enumeration value="ie - Occidental"/>
      <xs:enumeration value="oc - Occitan (post 1500)"/>
      <xs:enumeration value="oj - Ojibwa"/>
      <xs:enumeration value="or - Oriya"/>
      <xs:enumeration value="om - Oromo"/>
      <xs:enumeration value="os - Ossetian"/>
      <xs:enumeration value="os - Ossetic"/>
      <xs:enumeration value="pi - Pali"/>
      <xs:enumeration value="pa - Panjabi"/>
      <xs:enumeration value="ps - Pashto"/>
      <xs:enumeration value="fa - Persian"/>
      <xs:enumeration value="pl - Polish"/>
      <xs:enumeration value="pt - Portuguese"/>
      <xs:enumeration value="pa - Punjabi"/>
      <xs:enumeration value="ps - Pushto"/>
      <xs:enumeration value="qu - Quechua"/>
      <xs:enumeration value="ro - Romanian"/>
      <xs:enumeration value="rm - Romansh"/>
      <xs:enumeration value="rn - Rundi"/>
      <xs:enumeration value="ru - Russian"/>
      <xs:enumeration value="sm - Samoan"/>
      <xs:enumeration value="sg - Sango"/>
      <xs:enumeration value="sa - Sanskrit"/>
      <xs:enumeration value="sc - Sardinian"/>
      <xs:enumeration value="gd - Scottish Gaelic"/>
      <xs:enumeration value="sr - Serbian"/>
      <xs:enumeration value="sn - Shona"/>
      <xs:enumeration value="ii - Sichuan Yi"/>
      <xs:enumeration value="sd - Sindhi"/>
      <xs:enumeration value="si - Sinhala"/>
      <xs:enumeration value="si - Sinhalese"/>
      <xs:enumeration value="sk - Slovak"/>
      <xs:enumeration value="sl - Slovenian"/>
      <xs:enumeration value="so - Somali"/>
      <xs:enumeration value="st - Sotho, Southern"/>
      <xs:enumeration value="nr - South Ndebele"/>
      <xs:enumeration value="es - Spanish"/>
      <xs:enumeration value="su - Sundanese"/>
      <xs:enumeration value="sw - Swahili"/>
      <xs:enumeration value="ss - Swati"/>
      <xs:enumeration value="sv - Swedish"/>
      <xs:enumeration value="tl - Tagalog"/>
      <xs:enumeration value="ty - Tahitian"/>
      <xs:enumeration value="tg - Tajik"/>
      <xs:enumeration value="ta - Tamil"/>
      <xs:enumeration value="tt - Tatar"/>
      <xs:enumeration value="te - Telugu"/>
      <xs:enumeration value="th - Thai"/>
      <xs:enumeration value="bo - Tibetan"/>
      <xs:enumeration value="ti - Tigrinya"/>
      <xs:enumeration value="to - Tonga (Tonga Islands)"/>
      <xs:enumeration value="ts - Tsonga"/>
      <xs:enumeration value="tn - Tswana"/>
      <xs:enumeration value="tr - Turkish"/>
      <xs:enumeration value="tk - Turkmen"/>
      <xs:enumeration value="tw - Twi"/>
      <xs:enumeration value="ug - Uighur"/>
      <xs:enumeration value="uk - Ukrainian"/>
      <xs:enumeration value="ur - Urdu"/>
      <xs:enumeration value="ug - Uyghur"/>
      <xs:enumeration value="uz - Uzbek"/>
      <xs:enumeration value="ca - Valencian"/>
      <xs:enumeration value="ve - Venda"/>
      <xs:enumeration value="vi - Vietnamese"/>
      <xs:enumeration value="vo - Volapük"/>
      <xs:enumeration value="wa - Walloon"/>
      <xs:enumeration value="cy - Welsh"/>
      <xs:enumeration value="fy - Western Frisian"/>
      <xs:enumeration value="wo - Wolof"/>
      <xs:enumeration value="xh - Xhosa"/>
      <xs:enumeration value="yi - Yiddish"/>
      <xs:enumeration value="yo - Yoruba"/>
      <xs:enumeration value="za - Zhuang"/>
      <xs:enumeration value="zu - Zulu"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
